<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.ProductSalePropertyKeyMapper">

    <resultMap id="salePropertyMap" type="com.atguigu.entity.ProductSalePropertyKey" autoMapping="true">
        <id property="id" column="id"></id>
        <!--ofType表示返回多的集合类型-->
        <collection property="salePropertyValueList" ofType="com.atguigu.entity.ProductSalePropertyValue" autoMapping="true">
            <!--如果有字段产生了一样的名称，则需要给这个字段起别名-->
            <id property="id" column="sale_property_value_id"></id>
        </collection>
    </resultMap>

    <select id="querySalePropertyByProductId" resultMap="salePropertyMap">
        SELECT
            a.id,
            a.product_id,
            a.sale_property_key_id,
            a.sale_property_key_name,
            b.id sale_property_value_id,
            b.sale_property_value_name
        FROM
            product_sale_property_key a
            INNER JOIN product_sale_property_value b ON a.product_id = b.product_id
            AND a.sale_property_key_id = b.sale_property_key_id
        WHERE
            a.product_id = #{productId}
    </select>
    <select id="getSpuSalePropertyAndSelected" resultMap="salePropertyMap">
        SELECT
	a.id,
	a.product_id,
	a.sale_property_key_id,
	a.sale_property_key_name,
	b.id sale_property_value_id,
	b.sale_property_value_name,

IF (c.sku_id IS NULL, 0, 1) is_selected
FROM
	product_sale_property_key a
INNER JOIN product_sale_property_value b ON a.product_id = b.product_id
AND a.sale_property_key_id = b.sale_property_key_id
LEFT JOIN sku_sale_property_value c ON c.sale_property_value_id = b.id
AND sku_id = #{skuId}
WHERE
	a.product_id = #{productId}
ORDER BY
	b.sale_property_key_id,
  a.id,
	b.id
    </select>
</mapper>
